# Ignore Python bytecode
__pycache__
*.pyc

# Ignore virtual environment
venv
env

# Ignore git repository files
.git
.gitignore

# Ignore .env file for sensitive API keys (if not using GCP secrets)
.env

# Ignore local environment configuration files
*.local
